{% extends 'base.html' %}

{% block style %}


{% endblock %}

{% block content %}
<div id="testId" class="banana">
    <h1 href="wwww">Students!</h1>
</div>
<script>
    console.log("asdasd");
    div_attribute = $('.banana').attr("id");
    test_id = $('h1').attr("href");
    console.log(div_attribute);
    console.log(test_id)
</script>
<!-- 
<script>
    $('#valueID')
    $.ajax({
        url: `api/test`,
        type: `PUT`,
        headers: {
            'X-CSRFToken': CSRFTOKEN
        },
        data: {
            'id': 23,
            'name': 'Leon'
        },
        success: function () {
            table.ajax.reload(null, false);
            $('#testModal').modal('hide');
        },
        error: function () {
            alert('Failed');
        }
    })
</script> -->
{% endblock %}

