<footer class="imu-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="footer-row">
                    <img src="/media/base/icon//footer/footer-logo-imu-white.png" alt="IMU University"
                        class="footer-logo footer-logo-mobile">

                    <div class="footer-text-block footer-text-desktop fw-semibold text-version">
                        <p class="footer-address">
                            IMU University – Bukit Jalil Main Campus<br>
                            126, Jalan Jalil Perkasa 19, Bukit Jalil, 57000 Kuala Lumpur.
                        </p>

                        <p class="footer-copy">
                            Copyright © 2026 IMU University
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</footer>