<meta http-equiv="content-type" content="text/html; charset=utf-8">
<!-- Enable responsiveness on mobile devices-->
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

<link rel="icon" type="image/x-icon" href="/static/icon/favicon/favicon.ico">

<title>
    {% include 'version.html' %} - {{ user.first_name }} - {{ user.last_name }} - {{ ip }}
</title>

<!-- BOOTSTRAP CSS -->
<link href="/static/third_party/bootstrap-5.3.3/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">

<!-- DATATABLES CSS -->
<link rel="stylesheet" href="/static/third_party/DataTables-2.3.5/css/dataTables.dataTables.min.css">
<link rel="stylesheet" href="/static/third_party/DataTables-2.3.5/css/dataTables.bootstrap5.min.css">

<!-- MAIN CSS -->
<link rel="stylesheet" href="/static/core/css/main.css">

<!-- JQUERY (MUST BE FIRST) -->
<script src="/static/third_party/jquery/jquery-3.7.1.min.js"></script>

<!-- DATATABLES CORE -->
<script src="/static/third_party/DataTables-2.3.5/js/dataTables.min.js"></script>

<!-- DATATABLES BOOTSTRAP 5 ADAPTER -->
<script src="/static/third_party/DataTables-2.3.5/js/dataTables.bootstrap5.min.js"></script>

<!-- BOOTSTRAP JS -->
<script src="/static/third_party/bootstrap-5.3.3/js/bootstrap.bundle.min.js"></script>

<!-- MOMENT.JS -->
<script src="/static/third_party/moment/moment.js"></script>

<!-- INCLUDE CORE JAVASCRIPTS -->
<script type="text/javascript" src="/static/core/js/utils.js"></script>