<!-- ========================= CONSENT CONFIRMATION MODAL ========================= -->
<div class="modal fade" id="consentConfirmModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Consent & Submission Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body consent-modal-body">
                <p class="consent-block">
                    I,
                    <strong class="consent-underline" id="m_patient_consent_name"></strong>,
                    NRIC/ Passport No <strong class="consent-underline" id="m_initial_patient_consent_ic_passport_number"></strong>,
                    (Name of patient/parent/guardian), hereby consent for myself/
                    <strong class="consent-underline" id="m_patient_name"></strong>
                    (Name of patient), who is my
                    <strong class="consent-underline" id="m_relationship"></strong>,
                    to undergo the following treatment where the nature of which, benefits/ risks/ alternatives have
                    been explained to me by
                    <strong class="consent-underline" id="m_attending_name"></strong>
                    (Attending Chiropractor/ Intern) personally/ through interpretation of
                    <strong class="consent-underline" id="m_interpreter_name"></strong>
                    (Interpreter) in the appropriate language/dialect.
                </p>

                <hr>

                <p class="text-muted small text-center mb-0">
                    Please confirm before proceeding.
                </p>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancel
                </button>

                <!-- Hide button if user is only able to readonly -->
                {% if not is_readonly %}
                <button type="submit" id="btnSave" name="action" class="btn btn-primary">
                    Update Consents
                </button>

                {% if assessment and can_signoff %}
                <button type="submit" id="btnSignOff" name="action" class="btn btn-success">
                    Update & Sign Off Consents
                </button>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>